.navbar-default {
    background: #333;
    border: none;
    border-radius: 0;
}

.navbar-brand > h1 {
    font-size: 1.2em;
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-family: 'Kalam', cursive;
}

.form-control#list-title {
    font-weight: 700;
    font-size: 1.3em;
    background: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: background 0.2s ease-in;
    &:focus, &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}
