<span class="octicon octicon-check task-checked"></span>
<button class="octicon octicon-star task-completed-star {{#if starred}}task-star-selected{{/if}}" data-action="star-task"></button>
<div class="task-completed-title">
    {{title}}
</div>
