{{#if collectionLength}}
<button class="btn btn-primary" data-action="toggle-completed-tasks">
    {{#if displayTaskList}}
    Hide completed tasks <span class="octicon octicon-chevron-down"></span>
    {{else}}
    Show completed tasks <span class="octicon octicon-chevron-right"></span>
    {{/if}}
</button>
{{/if}}
<div id="completed-task-list-container" {{#unless displayTaskList}}class="hidden"{{/unless}}></div>
