<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <h1>
                @TODO
            </h1>
        </a>
    </div>
    <form class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" class="form-control" id="list-title" placeholder="Untitled List" autocomplete="off">
        </div>
    </form>
</div>
