<button class="task-unchecked" data-action="check-task"></button>
<span class="octicon octicon-check task-checked" data-ui="task-checked" style="display:none;"></span>
<button class="octicon octicon-star task-star {{#if starred}}task-star-selected{{/if}}" data-action="star-task"></button>
<input type="text" class="task-edit-title" value="{{title}}">
<button class="octicon octicon-trashcan task-delete" data-action="delete-task"></button>
