<div class="input-group">
    <input type="text" name="task" class="form-control" placeholder="What do you need to do?" />
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" data-action="add-task">+</button>
    </span>
</div>
<div id="task-list-container"></div>
